apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: applications
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/korneliushen/homelab
        revision: HEAD
        directories:
          - path: applications/*
  template:
    metadata:
      name: '{{ path.basename }}'
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: applications
      source:
        repoURL: https://github.com/korneliushen/homelab
        targetRevision: HEAD
        path: '{{ path }}'
        plugin:
          name: kustomize-build-with-helm
      destination:
        name: in-cluster
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
